@import "reset";
@import "mixins";
@import "variables";

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__burger-toggler {
        display: none;
        @media (max-width: 373px) {
            display: block;
            width: 44px;
            height: 37px;
            background-color: #000000;
            position: absolute;
            top: 23px;
            right: 0;
            &__line {
                width: 17px;
                height: 2px;
                background-color: #FFFFFF;
                position: absolute;
                top: 13px;
                right: 13px;
                opacity: 1;
                transform: rotate(0);
                transition: all 1s ease;
                transform-origin: 0 1px;
            }
            &__line:nth-child(2) {
                top: 17px;
            }
            &__line:nth-child(3) {
                top: 21px;
            }
        }
    } 
     
    &__nav-menu-mobile {
        display: none;
        @media (max-width: 373px) {
            display: block;
            position: absolute;
            width: 182px;
            top: 60px;
            right: 0;
            background-color: #F5F5F5;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;
        }
        &__wrap-link {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 13px;
            &:active {
                background-color: #E5E5E5;
            }
        }
        &__link {
            @include title($text-main-titles,11px, 400, 22px);
            text-decoration: none;
            &:hover {
                color: #57A4A4;
            }
        }
    }
    &__container__nav-menu {
        width: 813px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-inline: auto;
    }
    &__container__nav-menu-link {
            text-decoration: none;
            text-transform: uppercase;
            color: #4E4E4E;
            font-size: 11px;
            line-height: 22px;
            @media (max-width: 767px) {
                font-size: 9px;
            }
        }
    &__container__nav-menu-link:hover {
            color: #57A4A4;
        }
    &__image {
        width: 1170px;
        height: 550px;
        margin-bottom: 66px;
        margin-inline: auto;
    } 
    &__image-middle {
        display: none;
    }   
    &__image-min {
        display: none;
    }  
    @media (max-width: 940px) {    
        &__image-middle {
            display: block;
            width: 768px;
            height: 361px;
            margin-inline: auto;
            margin-bottom: 56px;
        }
        &__image {
            display: none;
        }
        &__container__nav-menu {
            width: 610px;
        }
    }
    @media (max-width: 767px) {
        &__image-middle {
            display: block;
            width: 100%;
            height: 100%;
            margin-inline: auto;
            margin-bottom: 56px;
        }
        &__container__nav-menu {
            width: 372px;
        }
    }
    @media (max-width: 373px) {    
        &__image-min {
            display: block;
            width: 320px;
            height: 150px;
            margin-inline: auto;
            margin-bottom: 38px;
            margin-top: 83px;
        }
        &__image-middle {
            display: none;
        }
        &__container__nav-menu {
            display: none;
        }
    }
}

@media (max-width: 373px) {
    .header__burger-toggler.active .header__burger-toggler__line:nth-child(1) {
        transform: rotate(45deg);
        right: 12px;
        top: 10px;
    }  
    .header__burger-toggler.active .header__burger-toggler__line:nth-child(2) {
        opacity: 0;
    }  
    .header__burger-toggler.active .header__burger-toggler__line:nth-child(3) {
        transform: rotate(-45deg);
        top: 22px;
        right: 12px;
    } 
    .header__nav-menu-mobile.active {
        transform: translateX(0);
    }
}


  
